<div class="main">
  <p>
    <mat-toolbar color="primary" class="mat-elevation-z23">
      Поиск рейса
    </mat-toolbar>
  </p>

  <div class="container footer">

    <form [formGroup]="formGroupFrom">
      <mat-form-field>
        <mat-label>
          Город отправления
        </mat-label>
        <input formControlName="fromCity" matInput type="text" [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptionsFrom" [value]="item">
            {{item}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

  </div>

  <div class="container footer">

    <form [formGroup]="formGroupTo">
      <mat-form-field>
        <mat-label>
          Город прибытия
        </mat-label>
        <input formControlName="toCity" matInput type="text" [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let itemTo of filteredOptionsTo" [value]="itemTo">
            {{itemTo}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

  </div>

  <!--  <form [formGroup]="stateForm">-->
  <!--    <mat-form-field>-->
  <!--      <mat-label>States Group</mat-label>-->
  <!--      <input type="text"-->
  <!--             matInput-->
  <!--             formControlName="stateGroup"-->
  <!--             required-->
  <!--             [matAutocomplete]="autoGroup">-->
  <!--      <mat-autocomplete #autoGroup="matAutocomplete">-->
  <!--        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">-->
  <!--          <mat-option *ngFor="let name of group.names" [value]="name">-->
  <!--            {{name}}-->
  <!--          </mat-option>-->
  <!--        </mat-optgroup>-->
  <!--      </mat-autocomplete>-->
  <!--    </mat-form-field>-->
  <!--  </form>-->

</div>
