.form {
  margin-right: 0;
  margin-left: auto;
  padding: 10px;

}

.form.first {
  padding-left: 200px;
}

table {
  width: 90%;
  margin: 17.5px 225px 15px 75px;
}

//
th {
  text-align: center;
}
